@media (max-width: 400px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoContainer{
       
    }
    .logoContainer img{
        max-width: 200px; /* Example: limit image size */
        height: auto;
        margin-bottom:-60px; /* Space between image and first paragraph */

    }
    .logoContainer p{
        text-align: center; /* Center text on mobile */
        font-family: var(--font-hammersmith-one), sans-serif;
        text-transform: uppercase;
    }
    .logoText{
        font-size: 24px; /* Adjust font size for mobile */
        margin-top: 10px; /* Add some space above the text */
        border-bottom: #FFFFFF 2px solid;
    }
    .socialMedia{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px; /* Add some space above the social media section */
    }
    .constactUs{
        margin-top: 20;
    }
    .socialMediaName{
        margin-top: 20;
        margin-left: 10px; /* Space between icon and text */
        font-family: var(--font-hammersmith-one), sans-serif;
        color: #FFFFFF;
        font-size: 16px; /* Adjust font size for mobile */
    }
}